*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  /* background:rgb(194, 245, 194); */
  background: #F55A5A;
  font-family: 'inter', sans-serif;
  color: #2B283A;
}
.App{
  max-width: 950px;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: .7rem;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
nav{
  background: #f98686;
  display: flex;
  width: 95%;
  margin: 1rem;
  border-radius: .4rem;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.card {
  color: #2B283A;
  padding: 1rem 3.5rem;
}
.card-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-img {
  width: 250px;
  height: auto;
}
.card-textContent {
  /* margin-top: 1rem; */
}
.location {
  display: flex;
  align-items: center;
}
.globe-icon{
  width: 2.3rem;
}
.desc{
  font-size: 10.24px;
}
.mapUrl{
  font-size: 9.24px;
  text-decoration-line: underline;
  color: #918E9B;
}
.date{
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
}

.location-subtitle {
  font-size: 8.24px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: auto .4rem ;
}
hr{
  border: 1px solid #F5F5F5;
  margin-top: 2.8rem;
}
.other{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.other .location-list {
  list-style: none;
}
.location-list ::before {
  content: '.';
  font-size: 3.5rem;
  margin-right: .5rem;
  color: #F55A5A;
}
.other .title {
  text-align: center;
}

.location-list li {
  margin-right: 6rem; 
}
